# Virtual environment
venv/
.venv/
env/

# Python caching
__pycache__/
*.py[cod]
*$py.class

# Editor folders
.vscode/
.idea/

# Local project state / database
*.db
tracker.json

# Segment Anything Checkpoints (exclude huge binary models, keep download script)
segmentanything/checkpoints/*
!segmentanything/checkpoints/download_ckpts.sh

# Output/results directories
annotation_results/*
!annotation_results/.gitkeep
results_coco_format/*
!results_coco_format/.gitkeep
@completed/*
!@completed/.gitkeep
@discarded/*
!@discarded/.gitkeep
